@keyframes car {
	0% {
		top: 440px;
		left: 1500px;
	}
	60% {
		top: 360px;
		left: 500px;
	}
	100% {
		top: 400px;
		left: -200px;
	}
}
@keyframes rocet {
	0% {
		top: 930px;
		left: 180px;
		transform: rotate(45deg);
		filter: saturate(101%);
		-webkit-filter: saturate(101%);
		-moz-filter: saturate(101%);
	}
	30% {
		top: 600px;
		left: 1300px;
		transform: rotate(-20deg);
		filter: saturate(101%);
		-webkit-filter: saturate(101%);
		-moz-filter: saturate(101%);
	}
	50% {
		top: 200px;
		left: 1200px;
		transform: rotate(-40deg);
		filter: saturate(101%);
		-webkit-filter: saturate(101%);
		-moz-filter: saturate(101%);
	}
	99%{
		top: 100px;
		left: 1100px;
		transform: rotate(-70deg);
		filter: saturate(101%);
		-webkit-filter: saturate(101%);
		-moz-filter: saturate(101%);
	}
	100% {
		top: 101px;
		left: 1101px;
		transform: rotate(-60deg)
		filter: saturate(101%) opacity(0%);
		-webkit-filter: saturate(101%) opacity(0%);
		-moz-filter: saturate(101%) opacity(0%);
	}

}
@keyframes metero {
	0% {
		top: 20px;
		left: 1500px;
		transform: rotate(0deg);
		filter: saturate(101%);
		-webkit-filter: saturate(101%);
		-moz-filter: saturate(101%);
	}
	99% {
		top: 190px;
		left: 1250px;
		transform: rotate(45deg);
		filter: saturate(101%);
		-webkit-filter: saturate(101%);
		-moz-filter: saturate(101%);
	}
	100% {
		top: 190px;
		left: 1220px;
		transform: rotate(45deg)
		filter: saturate(101%) opacity(0%);
		-webkit-filter: saturate(101%) opacity(0%);
		-moz-filter: saturate(101%) opacity(0%);
	}

}
@keyframes moon {
	0% {
		top: 80px;
		left: 600px;
		filter: saturate(101%) opacity(0%);
		-webkit-filter: saturate(101%) opacity(0%);
		-moz-filter: saturate(101%) opacity(0%);

	}
	100% {
		top: 80px;
		left: 600px;
		transform: rotate(45deg);
		filter: saturate(101%);
		-webkit-filter: saturate(101%);
		-moz-filter: saturate(101%);

	}
}
@keyframes ufo {
	0% {
		top: 30px;
		left: -30px;
		transform: rotate(0deg);
	}
	50% {
		top: 100px;
		left: 520px;
		transform: rotate(-45deg);

	}
	100% {
		top: 100px;
		left: 520px;
		transform: rotate(-45deg);
	}

}